apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert_content['content'] }}
    server: https://{{ cluster_entry_domain_name }}:{{ apiserver_port }}
  name: kubeans
contexts:
- context:
    cluster: kubeans
    user: {{ username }}
  name: {{ username }}@kubeans
current-context: {{ username }}@kubeans
users:
- name: {{ username }}
  user:
    client-certificate-data: {{ cert_content.results[1]['content'] }}
    client-key-data: {{ cert_content.results[0]['content'] }}