apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
spec:
  containers:
    - name: kube-scheduler
      image: registry.k8s.io/kube-scheduler:v1.36.0
      command:
        - kube-scheduler
        - --authentication-kubeconfig=/etc/kubernetes/kube-scheduler.conf
        - --authorization-kubeconfig=/etc/kubernetes/kube-scheduler.conf
        - --bind-address=127.0.0.1
        - --kubeconfig=/etc/kubernetes/kube-scheduler.conf
        - --leader-elect=true
      resources:
        requests:
          cpu: 100m
      livenessProbe:
        httpGet:
          path: /livez
          host: localhost
          port: 10259
          scheme: HTTPS
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 15
      readinessProbe:
        httpGet:
          host: 127.0.0.1
          path: /readyz
          port: 10259
          scheme: HTTPS
        periodSeconds: 1
        timeoutSeconds: 15
      startupProbe:
        httpGet:
          host: 127.0.0.1
          path: /livez
          port: 10259
          scheme: HTTPS
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 15
      volumeMounts:
        - name: scheduler-conf-vol
          mountPath: /etc/kubernetes/kube-scheduler.conf
  hostNetwork: true
  priorityClassName: system-node-critical
  volumes:
    - name: scheduler-conf-vol
      hostPath:
        path: /etc/kubernetes/kube-scheduler.conf
        type: FileOrCreate
